asgiref
beautifulsoup4
bs4
certifi
charset-normalizer
contourpy
cycler
dj-database-url
Django
fonttools
idna
kiwisolver
lxml
matplotlib
numpy
packaging
Pillow
pyparsing
python-dateutil
pytube
requests
six
soupsieve
sqlparse
tzdata
urllib3
whitenoise
