{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{% static 'authenticate/styles/index.css' %}">
  </head>
  <body>

	{% if messages %}
	{% for message in messages %}

<script>
alert("{{ message }}");
</script>

	{% endfor %}
	{% endif %}

	<div class="nav">
		<span>a</span>
		
		<center>
	  <a class="tittle">PyTube</a>
	  </center>
	</div>

	<div id="ops">
	  <center>
		<h1> Welcome Back</h1>
		<br>
		{% if user.is_authenticated %}

		<h3>Hello  {{fname}}</h3>
		<h4>You are successfully loged in</h4>


		<button type="submit">
		  <a href="/logout">LogOut</a>
		</button>
		<br>

		{% else %}
		<h3>please login or signup to continue</h3>

		<button id="lin" type='submit'>
		  <a href="/login">Login</a>
		</button>
		<br>

		<button id="lot" type="submit">
		  <a href="/signup">SignUp</a>
		</button>
		<br>

		{% endif %}
	  </center>
	</div>


	<script ></script>
  </body>
</html>
